[".config/nvim"]
    type = "git-repo"
    url = "https://github.com/JadHADDAD92/nvim.git"
    refreshPeriod = "1s"
    pull.args = ["--quiet"]

{{ if eq .chezmoi.os "linux" }}
[".antidote"]
    type = "git-repo"
    url = "https://github.com/mattmc3/antidote.git"
{{ end}}
