[submodule "zsh/zsh-you-should-use"]
	path = zsh/zsh-you-should-use
	url = git@github.com:MichaelAquilina/zsh-you-should-use.git
[submodule "zsh/powerlevel10k"]
	path = zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/F-Sy-H"]
	path = zsh/F-Sy-H
	url = https://github.com/z-shell/F-Sy-H
